<!-- html for collaborator -->
<div style="background-color:white">
<div class="modal-header" >
  <h3 class="modal-title" id="collaboratorId">Collaborators</h3>
</div>

<!-- image and details for collaborator Owner -->
<div><img  id="collabImage" ng-src="{{userinfo.local.profileImage || userinfo.facebook.picture || userinfo.google.picture}}" alt="{{userinfo.local.userName.charAt(0) ||userinfo.facebook.displayName.charAt(0) || userinfo.google.displayName.charAt(0) | uppercase}}" style="align-self: center;font-weight: bold;"/></div>
<div style="display: inline-block;margin-left: 90px;margin-top: 5px;vertical-align: middle;font-size: 17px;">
			<div style="font-weight: bold;margin-top: -57px;">{{displayName}}
				<div style="display: inline-block; font-weight: normal;"><i>(Owner)</i></div>
			</div>
				<div style="color:rgba(0,0,0,0.61);">{{email}}</div>
</div>

<!-- details for which I want to send note -->
  <div>
    <img  id="collabImage" src="../images/addIcon.png" style="border:0.5px solid grey"alt="{{userinfo.local.userName.charAt(0) ||userinfo.facebook.displayName.charAt(0) || userinfo.google.displayName.charAt(0) | uppercase}}" style="align-self: center;font-weight: bold;"/>
  </div>

<!-- showing list of email-id which is present in database -->
  <div style="display: inline-block;margin-left: 90px;margin-top: 5px;vertical-align: middle;font-size: 17px;">
  			<div style="font-weight: bold;margin-top: -57px;">
            <input type="text" ng-click="$ctrl.findCollab()" ng-model="findEmail" id="colbFindcss" placeholder="Person or email to share with" aria-label="Person or email to share with" maxlength="320" role="combobox" aria-autocomplete="list">

            <ul class="example-animate-container">
                <li class="animate-repeat" ng-repeat="x in collaboratorList | filter:findEmail as results">
                  <span ng-bind="x"></span>
                </li>
                <li class="animate-repeat" ng-if="results.length === 0" >{{x}}
                    <strong> Email-id Not found..</strong>
                </li>
              </ul>
        </div>
  				<div style="color:rgba(0,0,0,0.61);"></div>
    </div>

<!-- button for save email-id -->
<div class="modal-footer" style="height:14px;font-size:12px;color:grey;border-top:none"></div>

<div class="modal-footer" style="border-top:none">
  <button class="btn btn-warning" type="button" id="done" ng-click="$ctrl.colHit(findEmail) ;$ctrl.cancel();" >Save</button>
  <button class="btn btn-warning" type="button" id="done" ng-click="$ctrl.cancel()" >Cancel</button>
</div>
