<div class="row" ng-class="gridlist" style="margin-top:34px;">

  <div id="reminderdiv">Reminders</div>
  <div style="margin:22px 16px;"></div>
  <div>
    <div id="innote" ng-if="x.reminder && !x.isDeleted" ng-class="innote" ng-mouseover="icons=true" ng-mouseleave="icons=false" ng-repeat="x in message | filter:search as results track by $index">

      <div ng-class="showpreid" style="background-color:{{x.color}}">
        <div style="padding:2%;">
          <span class="glyphicon glyphicon-pushpin" ng-if="x.isPinup" uib-tooltip="Unpin note" tooltip-placement="bottom" tooltip-append-to-body="true" ng-click="pinup(x._id,'false','false')" style="float:right;color:#4285f4;"></span>
          <span class="glyphicon glyphicon-pushpin" ng-if="!x.isPinup" ng-click="pinup(x._id,'true','false')" ng-show="icons" style="float:right;color:#767676;" uib-tooltip="Pin archived note" tooltip-placement="bottom" tooltip-append-to-body="true"></span>
          <!-- <div id="divtitle" style="margin-left:2%;"  >
            <i id="titlecss" ng-click="popup(x)" ng-bind-html = "x.title1"></i>
          </div> -->
          <div id="divtitle" class="titlecss" style="margin-left:2%;" ng-click="popup(x)" ng-bind-html="x.title1"></div>

          <div id="noteinner" ng-click="popup(x)" ng-bind-html="x.content"></div>

          <div id="footer">
            <span ng-show="icons">
                  <!-- reminder  directive -->
                  <reminder></reminder>

                  <!-- collaborator icon -->
                   <collaborator></collaborator>

                  <!-- color  directive -->
                  <color></color>

                  <!-- archive directive -->
                  <archive></archive>

                  <!-- facebook share directive -->
                  <facebookshare></facebookshare>

                  <!-- more(make a copy and delete) icons directive -->
                  <more></more>
            </span>
          </div>

          <!-- reminder footer directive -->
          <reminderdisplay></reminderdisplay>


        </div>
      </div>
    </div>
  </div>
</div>
