html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  body
    .container-fluid
      h2.text-center FORGOT PASSWORD PAGE
      
          h5 change password
          form#form
            .form-group
              label(for='email') email:
              input#useremail.form-control(type='email', placeholder='Enter your email', name='email')
            .form-group
              label(for='lname') Password:
              input#password.form-control(type='password', placeholder='Enter your password', name='password')
            button.btn.btn-danger(type='button', onclick='change()') change
    script(src='../js/form.js')
