html
  head
    h1(align='center') FundooNotes
    #status
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

    script(src='/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    // 
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      /*#messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }*/
      /**/
  body(onload='sessionStart()')
    ul#cardId
    form#form3(action='')
      input#m(autocomplete='off')
      button Send
    
    button.btn.btn-danger(type='button', onclick='logout()') Logout
    script(src='form.js')
    script(src='card.js')
    script(src='deleteNote.js')
    script(src='trashNote.js')
    script(src='editNote.js')
